
.card[data-v-d7d344ec]{display:grid;grid-gap:1em;grid-template-columns:repeat(auto-fit,minmax(200px,1fr))}.card>li[data-v-d7d344ec]{list-style:none;box-shadow:.1em .1em 5px 1px grey;padding:.5em;border-radius:5px}.card .email[data-v-d7d344ec]{word-break:break-all}.card .title[data-v-d7d344ec]{margin:0}li~li[data-v-d7d344ec]{background-color:#00f}
.btn~.btn[data-v-91ec6ef6]{margin-left:10px}
